html, body {
    height:100%;
    padding: 0;
    margin: 0;
    color: white;
  }
html{
    background-image: url('../img/main.jpg');
    background-size: cover;
}
body {
    background: rgba(0, 0, 0, 0.466);
    font-family: 'Shabnam';
    font-weight: bold;
}
#home-content{
    text-align: center;
    padding-top: 20%;
}

@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam.eot');
    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam.woff') format('woff'),
         url('../fonts/Shabnam.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Shabnam';
    src: url('../fonts/Shabnam-Bold.eot');
    src: url('../fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Shabnam-Bold.woff') format('woff'),
         url('../fonts/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }