{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock custom_css %}

{% block title %} | Add Poll {% endblock %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            <h2>ایجاد نظرسنجی</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="text-align: center;">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">ایجاد</button>
                <a class="btn btn-warning" href="{% url 'polls:list' %}" role="button">بازگشت</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}