{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock custom_css %}

{% block title %} | Poll Detail {% endblock %}

{% block content %}
<div class="container">
    <h1>جزئیات نظرسنجی/ثبت نظر</h1>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="text-align: center;">{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
    <h3 class="mt-3 mb-3" style="display: inline;">{{ poll }}</h3><br><br>
    <form action="{% url 'polls:vote' poll.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br>
        {% endfor %}
        <img src="{{ poll.poll_image.url }}" alt="No IMAGE SET!" name="poll_image" style="height: 300px; width:500px;">
        <br>
        <input type="submit" value="ثبت" class="btn btn-primary mt-3">
        <a class="btn btn-warning mt-3" href="{% url 'polls:list' %}" role="button">بازگشت</a>
    </form>

</div>

{% endblock content %}