{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock custom_css %}

{% block title %} | Login {% endblock %}

{% block content %}
<div class="container" style="margin-top: 35px;">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %} style="text-align: center;">{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">نام کاربری :</label>
                    <input type="text" class="form-control" name="username" placeholder="نام کاربری">
                </div>
                <div class="form-group">
                    <label for="password">رمز عبور :</label>
                    <input type="password" class="form-control" name="password" placeholder="رمز عبور">
                </div>
                <button type="submit" class="btn btn-primary">ورود</button>
                </form>
                <div class="alert alert-primary" role="alert" style="text-align: center; margin-top:20px;">
                    قبلا ثبت نام نکرده اید؟ <a href="{% url 'accounts:register' %}" class="alert-link"> ثبت نام </a>
                 </div>
        </div>
    </div>
</div>
{% endblock %}