{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/all.css' %}">
{% endblock custom_css %}


{% block title %} | All Users{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <h1 class="text-center mt-3 mb-3">لیست کاربران</h1>
            <ul class="list-group"  style="margin-top: 30px;">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام خانوادگی</th>
                        <th scope="col">نقش</th>
                      </tr>
                    </thead>
                    {% for use in users %}
                    <tbody>
                      <tr>
                        <th scope="row">{{ use.id }}</th>
                        <td>{{ use.username }}</td>
                        <td>{{ use.first_name }}</td>
                        <td>{{ use.last_name }}</td>
                        {% if use.is_staff %}
                        <td>مدیر</td>
                        {% else %}
                        <td>والدین</td>
                        {% endif %}
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
{% endblock %}