<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href=""><i class="fas fa-person-booth"></i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <strong><a class="nav-link" href="{% url 'home' %}">خانه</a></strong>
            </li>
            <li class="nav-item active">
                <strong><a class="nav-link" href="{% url 'polls:list' %}">نظرسنجی ها</a></strong>
            </li>
            {% if user.is_staff %}
            <li>
                <strong><a class="nav-link" href="{% url 'accounts:users' %}">لیست کاربران</a></strong>
            </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <strong><a class="nav-link" href="#">
            {% if user.is_staff %}
                {{ user.first_name }} {{ user.last_name }} (مدیر)
            {% else %}
                {{ user.first_name }} {{ user.last_name }} (والدین)
            {% endif %}
            </a></strong>
            <strong><a class="nav-link" href="{% url 'accounts:logout' %}">خروج</a></strong>
            {% else %}
            <strong><a class="nav-link"href="{% url 'accounts:login' %}">ورود</a></strong>
            <strong><a class="nav-link" href="{% url 'accounts:register' %}">ثبت نام</a></strong>
            {% endif %}
        </div>
    </div>
</nav>