{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}

{% block title %} | Home {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>سیستم نظرسنجی</h1>
                <h3>.نظر شما والدین عزیز، موجب بهبود کیفیت آموزش مدرسه خواهد شد</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" role="button">نظرسنجی ها</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}